{% extends 'layouts/layout_light.html' %}
{% load crispy_forms_tags %}
{% block title %} Sign IN {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<!-- Header END -->

<!-- **************** MAIN CONTENT START **************** -->
{% include 'includes/landing_navbar.html' %}
<main class="mx-0 py-0">
	<section class="py-2">
        <section class="py-1 position-relative overflow-hidden">
            <div class="container position-relative">

               
                <div class="row g-4 align-items-center">
                    
                    <div class="col-md-12">
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb breadcrumb-dots mb-0">
									<li class="breadcrumb-item"><a href="#">Edtech</a></li>
									<li class="breadcrumb-item active" aria-current="page">Financement</li>
								</ol>
							</nav>
                        <!-- Title -->
                        
                    </div>
        
                    
                </div>
            </div>

    </section>
		<section class="pt-4 position-relative overflow-hidden">
            <!-- SVG decoration -->
            <figure class="fill-primary opacity-1 position-absolute top-50 end-0 me-n6 d-none d-sm-block">
                <svg width="211px" height="211px">
                    <path class="fill-success" d="M210.030,105.011 C210.030,163.014 163.010,210.029 105.012,210.029 C47.013,210.029 -0.005,163.014 -0.005,105.011 C-0.005,47.015 47.013,-0.004 105.012,-0.004 C163.010,-0.004 210.030,47.015 210.030,105.011 Z"></path>
                </svg>
            </figure>
        
          
        
            <!-- SVG decoration -->
            
            
            <div class="container position-relative">

               
                <div class="row g-4 align-items-center">
                    
                    <div class="col-md-6">
                        
                        <!-- Title -->
                        <h1>Comment financer votre formation ?</h1>
                        <p>Quelle que soit votre situation professionnelle, nous avons forcément une solution de financement pour vous.</p>
                        <!-- Button -->
                        <a href="{% url 'financiement:candidate' %}" class="btn btn-success mb-0 mt-1 me-2">Démarrer ma candidature</a>
                        <a href="{% url 'financiement:formations' %}" class="btn btn-outline-success mb-0 mt-1 ms-2">Découvrir les Formations</a>

                    </div>
        
                    <div class="col-md-6 text-center">
                        <!-- Image -->
                        <img src="assets/images/element/04.svg" class="h-300px h-xl-400px" alt="">
                    </div>
                </div>
            </div>
        </section>
        <!-- =======================
        Page Banner END -->
        
        <!-- =======================
        Work START -->
        <div class="container position-relative my-2">
                    <!-- Title -->
                    <h5 class="">Quelle est votre situation professionnelle ?</h5>
        </div>
        

        <section class="my-0" >
            <div class="container position-relative">
               

                <div class="row g-4 align-items-center">
                    <div class="col-md-12">
                        <!-- Title -->
                        <ul class="nav nav-tabs nav-tabs-line mb-3">
                            <li class="nav-item"> <a class="nav-link ps-0 pe-2 active" data-bs-toggle="tab" href="#tab-3-1"  style ="font-size:19px" > Demandeur d'employe </a> </li>
                            <li class="nav-item"> <a class="nav-link " data-bs-toggle="tab" href="#tab-3-2" style ="font-size:19px"> Salarié </a> </li>
                            <li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#tab-3-3" style ="font-size:19px"> Travailleur Indepandant </a> </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane show active" id="tab-3-1">

                                <div class="row mx-0">
                                    <!-- Card list START -->
                                    <p class="mx-0 px-0" >in vers l'emploi. Vous apprenez un métier parmi
                                        $
                                    </p>
                                    {% for dem in demander %}
                                    <div class="col-12  px-0 my-3">
                                        <div class="card shadow overflow-hidden p-2">
                                            <div class="row g-0">
                                                <div class="col-md-3 overflow-hidden">
                                                    <img src="{{dem.thumbnail.thumbnail.url}}" class="rounded-2" alt="Card image" style="width:300px;height:400px">
                                                    <!-- Ribbon -->
                                                    
                                                </div>
                                                <div class="col-md-9">
                                                    <div class="card-body">
                                                        <!-- Badge and rating -->
                                                        <div class="d-flex justify-content-between align-items-center mb-2">
                                                            <!-- Badge -->
                                                            <!-- Rating and wishlist -->
                                                         
                                                        </div>
                            
                                                        <!-- Title -->
                                                        <h5 class="card-title my-2"><a href="#">{{dem.name}}</a></h5>
                                                        <p class="text-truncate-2 d-none d-lg-block mt-3">{{dem.desc}}</p>
                            
                                                        <!-- Info -->
                                                        <hr class="my-3 border ">
                                                        <div class ="">
                                                        <p>Les avantages : </p>
                                                        {{dem.advantages|linebreaksbr}}
                                                        </div>

                                                      
                                                        <hr class="my-3 border ">

                                                        <!-- Price and avatar -->
                                                        <div class="d-sm-flex justify-content-sm-between align-items-center">
                                                            <!-- Avatar -->
                                                            <div class="d-flex align-items-center">
                                                               
                                                            </div>
                                                            <!-- Price -->

                                                            

                                                            <div class="mt-3 mt-sm-0">

                                                                <a href="#" class="btn btn-outline-success">Démarrer ma condidateur</a>    
                                                            </div> 

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-3-2">
                                <div class="row mx-0">
                                    <!-- Card list START -->
                                    <p class="mx-0 px-0" >Nos formations sont un tremplin vers l'emploi. Vous apprenez un métier parmi
                                         les plus recherchés sur le marché. Pour financer ces formations,
                                         votre statut de demandeur d’emploi vous donne accès à divers dispositifs public
                                    </p>
                                    {% for sal in salarie %}
                                    <div class="col-12 px-0 my-3">
                                        <div class="card shadow overflow-hidden p-2">
                                            <div class="row g-0">
                                                <div class="col-md-3 overflow-hidden">
                                                    <img src="{{sal.thumbnail.thumbnail.url}}" class="rounded-2" alt="Card image" style="width:300px;height:400px">
                                                    <!-- Ribbon -->
                                                    
                                                </div>
                                                <div class="col-md-9">
                                                    <div class="card-body">
                                                        <!-- Badge and rating -->
                                                        <div class="d-flex justify-content-between align-items-center mb-2">
                                                            <!-- Badge -->
                                                            <!-- Rating and wishlist -->
                                                         
                                                        </div>
                            
                                                        <!-- Title -->
                                                        <h5 class="card-title my-2"><a href="#">{{sal.name}}</a></h5>
                                                        <p class="text-truncate-2 d-none d-lg-block mt-3">{{sal.desc}}</p>
                            
                                                        <!-- Info -->
                                                        <hr class="my-3 border ">
                                                        <div class ="">
                                                        <p>Les avantages :
                                                        {{sal.advantages|linebreaks}}
                                                         </p>
                                                        </div>

                                                      
                                                        <hr class="my-3 border ">

                                                        <!-- Price and avatar -->
                                                        <div class="d-sm-flex justify-content-sm-between align-items-center">
                                                            <!-- Avatar -->
                                                            <div class="d-flex align-items-center">
                                                               
                                                            </div>
                                                            <!-- Price -->

                                                            

                                                            <div class="mt-3 mt-sm-0">

                                                                <a href="#" class="btn btn-outline-success">Démarrer ma condidateur</a>    
                                                            </div> 

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-3-3">
                                <div class="row mx-0">
                                    <!-- Card list START -->
                                    <p class="mx-0 px-0" >Nos formations sont un tremplin vers l'emploi. Vous apprenez un métier parmi
                                         les plus recherchés sur le marché. Pour financer ces formations,
                                         votre statut de demandeur d’emploi vous donne accès à divers dispositifs public
                                    </p>
                                    {% for tra in travailleur %}
                                    <div class="col-12 px-0">
                                        <div class="card shadow overflow-hidden p-2">
                                            <div class="row g-0">
                                                <div class="col-md-3 overflow-hidden">
                                                    <img src="{{tra.thumbnail.thumbnail.url}}" class="rounded-2" alt="Card image" style="width:300px;height:400px">
                                                    <!-- Ribbon -->
                                                    
                                                </div>
                                                <div class="col-md-9">
                                                    <div class="card-body">
                                                        <!-- Badge and rating -->
                                                        <div class="d-flex justify-content-between align-items-center mb-2">
                                                            <!-- Badge -->
                                                            <!-- Rating and wishlist -->
                                                         
                                                        </div>
                            
                                                        <!-- Title -->
                                                        <h5 class="card-title my-2"><a href="#">{{tra.name}}</a></h5>
                                                        <p class="text-truncate-2 d-none d-lg-block mt-3">{{tra.desc}}</p>
                            
                                                        <!-- Info -->
                                                        <hr class="my-3 border ">
                                                        <div class ="">
                                                        <p>Les avantages : </p>
                                                        {{tra.advantages}}
                                                        </div>

                                                      
                                                        <hr class="my-3 border ">

                                                        <!-- Price and avatar -->
                                                        <div class="d-sm-flex justify-content-sm-between align-items-center">
                                                            <!-- Avatar -->
                                                            <div class="d-flex align-items-center">
                                                               
                                                            </div>
                                                            <!-- Price -->

                                                            

                                                            <div class="mt-3 mt-sm-0">

                                                                <a href="#" class="btn btn-outline-success">Démarrer ma condidateur</a>    
                                                            </div> 

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    {% endfor %}
                                </div>
                                </div>
                        </div>
                </div>
            </div>
        </section>
        <!-- =======================
        Work END -->
        <!-- =======================
        Work END -->
        
        <!-- =======================
        Counter START -->
        <section class="py-0 py-lg-5">
        </section>
        
        <!-- =======================
        Form and Tabs START -->
       
       
	</section>

</main>
<!-- MAIN END -->
<!-- Bootstrap JS -->
{% endblock %}
{% block javascript %}

{% endblock %}